<!--<h1>Flowers search</h1>-->

    <a href="/customers" class="button center">All Customers</a>

    <a href="/flowers" class="button center">Flowers</a>

    <a href="/hotels" class="button center">Hotels</a>

    <!--<a href="/areas" class="button center">Areas</a>-->



