<p class="pageHeader">Flowers</p>

<table>
    <tr>

        <th>Name</th>
        <th>Type</th>
        <th>Area</th>
        <th></th>
    </tr>

    #foreach($flower in $flowers)
    <tr>
        <td>$flower.getName()</td>
        <td>$flower.getType()</td>
        <td>$flower.getArea</td>

    </tr>
    #end
</table>